aside {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  aside {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

@media (max-width: 992px) {
  aside {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;

    nav {
      width: 100%;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}

#brand {
  font-family: "Norican", cursive;
}
